html {
}

body {
	background-color : rgba(32, 32, 48, 196);
	color: rgba(240, 240, 224, 240);
}

body > h1 {
	display : block;
	border-radius : 0.5em;
	background-color : rgba(48, 48, 64, 196);
	padding : 0.5em;
	border : 0.5em;
}
